/********************************************************************
 * File Name: tasks.module.css
 * Date: 1/26/2025
 * Description: Module CSS file for tasks UI component
 * Author(s): CS 362-Team 20
 ********************************************************************/

@import "../../variables.css";

.container {
    width: 100%;
}



.tasksquare {
    background-color: #cdcdcd;
    text-align: center;
    color: white;
    padding: 21px 30px;
    margin: 15px 244px;
    border: none;
    border-radius: 20px;
    width: 702px;
    max-width: 60%;
    align-items: stretch;
    flex-shrink: 0;
}

.tasklabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    padding: 12px 18px;
    width: 641px;
    max-width: 100%;
    min-width: 222px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-style: normal;
    line-height: normal;
}

.tasklabel span {
    flex-grow: 1;
}

.tasklist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    padding: 12px 18px;
    margin: 10px 10px 10px 0px;
    width: 641px;
    max-width: 100%;    
    height: 46px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-style: normal;
    line-height: normal;
    border: none;
}

button:hover {
    background-color: #cdcdcd;
}


p {
    display: flex;
    width: 136px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
