/********************************************************************
 * File Name: navbar.module.css
 * Date: 1/26/2025
 * Description: Module CSS file for navbar
 * Author(s): CS 362-Team 20
 ********************************************************************/

.subMenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    width: 200px;
    z-index: 1000;
    list-style-type: none;
    margin-left: 60;
    margin-top: 13px;
}

.subMenu.show {
    display: block;
}

.navbarItem {
    padding: 10px;
    background-color: #e0e0e0;
}

