/********************************************************************
 * File Name: home.module.css
 * Date: 1/26/2025
 * Description: Module CSS file for home component
 * Author(s): CS 362-Team 20
 ********************************************************************/

@import "../../variables.css";

.curvedsquares {
    background-color: #DFDFDF;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    text-align: left;
    height: 92vh;
}

button {
    background-color: lime;
    color: white;
    padding: 14px 20px;
    margin: 2px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15vw;
}

button a {
    color: white;
    text-decoration: none;
}
