/********************************************************************
 * File Name: 
 * Date: 1/13/2025
 * Description: 
 * Author(s): CS 362-Team 20
 ********************************************************************/
 
@import "./variables.css";

.App {
    background-color: darkgrey;
    text-align: left;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    width: 99.4vw;
    height: 98.5vh;
}

.curvedsquare {
    background-color: darkgray;
    border-color: chartreuse;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
