/********************************************************************
 * File Name: 
 * Date: 1/13/2025
 * Description: 
 * Author(s): CS 362-Team 20
 ********************************************************************/
 
@import "./variables.css";

.App {
    background-color: #cdcdcd;
    text-align: left;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
}

.curvedsquare {
    display: flex;
    padding: 15px 20px;
    width: 100vw;
    height: 69px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    background: #37E03A;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #FFF;
    font-family: "Tilt Warp", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.task {
    background-color: darkgray;
    border: 2px solid chartreuse;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    width: 112px;
    height: 64px;
    aspect-ratio: 7/4;
    margin: 3px 20px;
}

.profilePicture {
    width: 64px;
    height: 64px;
    margin: 10px;
    aspect-ratio: 1/1;
}
