/********************************************************************
 * File Name: index.css
 * Date: 1/13/2025
 * Description: CSS file for main website display
 * Author(s): CS 362-Team 20
 ********************************************************************/
 
@import "tailwindcss";

@theme {
    --breakpoint-md: 900px;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}
