/********************************************************************
 * File Name: variables.css
 * Date: 1/26/2025
 * Description: Define CSS variables for other CSS files
 * Author(s): CS 362-Team 20
 ********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.root {
    --text-color: #716868;
    --primary-color: #fff;
    --secondary-color: #37E03A;
    --background-color: #DFDFDF;
}
